#testdata/dataUser.json
__pycache__/
.DS_Store

./report/report.csv
./report/report.html
./report/assets/style.css
utils/encode.py
localbaskara.py
localoop.py
testdata/regisLocal.py
./testdata/regisLocal.py
./utils/encode.py
./utils/coba.py
./utils/coba2.py
./utils/coba3.py
./utils/coba4.py
./utils/result.py
./utils/send.py
./utils/sendDiscord.py
./utils/sendDiscordFix.py
./utils/sendDiscordFixBanget.py
./utils/sendDiscordFixBangetBanget.py
report/report.csv
report/report.html
./report/report.csv
./report/report.html
localbaskara.py
